.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background-color: white;*/
	height: 50%;
}

.content .heading{
    margin-top: 5%;
	font-size: 1.9rem;
	transition: color 1s;
	text-align:"center";
	display:block;
}
.content .heading:hover{
	color: var(--text-shade);
	cursor: pointer;
}

.content .para{
	color: var(--text-shade);
}

select, input{
    font-size: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


form {
    display: flex;
    flex-direction:column;
    color: #d3e8de;
    text-align:"center";
    justify-items:center;
    align-items:center;
}

input {
    background-color: #2c3e50;
    color: white;
    border:none;
    width: 200px;
}
select{
    text-align:"center";
    width:50%;
}
button {
    background-color: #2c3e50;
    color: white;
    text-align:"center";
    font-size: 20px;
    width:25%;
}
option{
    text-align:center;
}
select { width: 200px; text-align-last:center; }
