.navbar{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.nav-sub{
	/*background-color: white;*/
}

.navbar .heading{
	color: var(--light-shade);
	font-size: 2rem;
}